/*Same font on everything*/
*{
 font-family: Calibri;
 color: #3d3d3d
}
 /*Clearfix*/
.clearfix {
     clear: left;
}
p{
 font: 100% 1;
 line-height: 150%;
}
/* Navigationbar */
.navDesktop{
 background-color: white;
 position: fixed;
 top: 0;
 width: 100%;
 height: auto;
 text-align: center;
 z-index: 1;
}
.navDesktop a:hover{
 font-weight: bold;
}
nav a{
 color: #3d3d3d;
 text-decoration: none;
 padding: 2%;
}
.navMobile{
 display:none;
}
.headerimage{
 position: relative;
 width: 100%;
 height:auto;
}
.blacklogo{
 width: 3em;
 height: auto;
}
h2{
 text-align: center;
 margin-top: 10%;
}

main{
 margin:10%;
}
h1{
 text-align: center;
 margin-top: 10%;
}
.slogan{
 text-align: center;
 font-style: italic;
 font-size: 20px; /*för IE*/
 font-size: 1.5em;
}
h3{
 text-align: center;
}

/*About Us*/
.aboutUs {
 text-align: center;
 margin-top: 10%;
 margin-left: 10%;
 margin-right: 10%;
}

/*Themes*/
.themeswrapper{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
}
.thethemes{
 display: block;
 float: left;   /*Så att Internet Explorer blir nöjd*/
 width: 30%;
 margin-left: 1%;
 margin-right: 1%;
}
.thethemes img{
 width: 100%;
 height: auto;
}

/*Pricing*/
.pricing{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
}
.price{
 display: block;
 float: left;   /*Så att Internet Explorer blir nöjd*/
 width: 30%;
 margin:1%;
 background-color: lightgray;
 border-radius: 25px;
}
.price ul{
 list-style-type: circle;
 background-color: white;
}
.price h3{
 font-weight: bold;
}
.price li{
 margin-top: 3%;
 line-height: 150%;
}

/*Contact Form*/
.contactUs form{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
}
.contactUs div{
 margin-left: 2%;
 margin-right: 2%;
}
.submit{
 float: right;
}
.inputinformation input{
 width: 200px;/*för IE*/
 width: 15em;
}

/* Footer */
footer{
padding-top: 2%;
padding-bottom: 2%;
 background-color: lightgray;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 text-align: center;
}
.contactinfo{
 width: 20%;
 margin-left: 2%;
 margin-right: 2%;
}
.contactinfo h3{
  margin: 0;
}
.contactinfo p{
 margin: 0;
 text-align: center;
}
.contactinfo img{
 height: 20%; /*för IE*/
 height: 5em;
 width: auto;
}
.logofooter{
 margin: 2%;
}
.socialmedia{
 margin: 2%;
}
.socialmedia img{
 width: 10%;
 height: auto;
 vertical-align: middle;
}

/*Media query for tablet*/
/*Valde 800 eftersom det är lite över en vanlig ipad och det är här meny mm börjar bli galet*/

@media only screen and (max-width: 800px) {

 .thethemes{
   margin-top: 10%;
   width: 80%;
 }
 .price{
   width: 80%;
 }
 .contactinfo{
   width: 50%;
 }

.navDesktop{
  display: none;
}
.navMobile {
 display: block;
 position: fixed;
 top: 5%;
 left: 5%;
 z-index: 1;
 -webkit-user-select: none;
 -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.navMobile input {
 display: block;
 width: 40px;
 height: 40px;
 position: absolute;
 top: -5px;
 left: -5px;
 cursor: pointer;
 opacity: 0;
 z-index: 2;
 -webkit-touch-callout: none;
}
/*The Burger */
.navMobile span{
 display: block;
 width: 33px;
 height: 4px;
 margin-bottom: 5px;
 position: relative;
 background: lightgray;
 border-radius: 3px;
 z-index: 1;
 -webkit-transform-origin: 4px 0px;
     -ms-transform-origin: 4px 0px;
         transform-origin: 4px 0px;
 -webkit-transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             opacity 0.55s ease,
             -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             opacity 0.55s ease,
             -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 -o-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             opacity 0.55s ease;
 transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             opacity 0.55s ease;
 transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             opacity 0.55s ease,
             -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.navMobile span:first-child{
 -webkit-transform-origin: 0% 0%;
     -ms-transform-origin: 0% 0%;
         transform-origin: 0% 0%;
}
.navMobile span:nth-last-child(2){
 -webkit-transform-origin: 0% 100%;
     -ms-transform-origin: 0% 100%;
         transform-origin: 0% 100%;
}
/*Transform the slices of burger into a cross.*/
.navMobile input:checked ~ span{
 opacity: 1;
 -webkit-transform: rotate(45deg) translate(-2px, -1px);
     -ms-transform: rotate(45deg) translate(-2px, -1px);
         transform: rotate(45deg) translate(-2px, -1px);
 background: #232323;
}
.navMobile input:checked ~ span:nth-last-child(3){
 opacity: 0;
 -webkit-transform: rotate(0deg) scale(0.2, 0.2);
     -ms-transform: rotate(0deg) scale(0.2, 0.2);
         transform: rotate(0deg) scale(0.2, 0.2);
}
.navMobile input:checked ~ span:nth-last-child(2){
 -webkit-transform: rotate(-45deg) translate(0, -1px);
     -ms-transform: rotate(-45deg) translate(0, -1px);
         transform: rotate(-45deg) translate(0, -1px);
}
.mobileMenu{ /*The opened menu*/
 position: absolute;
 width: 300px;
 margin: -100px 0 0 -50px;
 padding: 50px;
 padding-top: 125px;
 background: #ededed;
 list-style-type: none;
 -webkit-font-smoothing: antialiased;
 -webkit-transform-origin: 0% 0%;
     -ms-transform-origin: 0% 0%;
         transform-origin: 0% 0%;
 -webkit-transform: translate(-100%, 0);
     -ms-transform: translate(-100%, 0);
         transform: translate(-100%, 0);
 -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 -o-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.navMobile li{
 padding: 10px 0;
 font-size: 22px;
}

.navMobile input:checked ~ ul{
 -webkit-transform: none;
     -ms-transform: none;
         transform: none;
}
}
